/*@import "../../components/icon/index.wxss";*/
/*@import "../../components/buttongroup/index.wxss";*/
/*@import "../../components/listgroup/index.wxss";*/

.index-main{
  padding: 24rpx 10rpx;
}

.top-main{
  display: flex;
  background-color: #fff;
  border-radius: 8rpx;
  margin-bottom: 20rpx;
  padding: 30rpx;
}

.circle-pie{
  flex: 1
}

.filter-buttons{
  width: 200rpx;
}

.index-entrace{

}
